.ctn-principal{
    border: 1px solid black;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/*Topo*/
.ctn-menu{
    border: 1px solid red;
    width: 100%;
    height: 50px;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.menu{
    border: 1px solid green;
    width: 5%;
    min-width: 50px;
    height: 40px;
    padding: 0px;
    margin: 5px;
    float: left;
}

.logo{
    border: 1px solid blue;
    width: 100%;
    height: 40px;
    padding: 5px 0px;
}

/*Menu*/
.menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    border: 1px solid salmon ;
}
.menu img{
    width: 100%;
    height: 40px;
}
.menu ul ul{
    display: none;
}
.menu ul li:hover > ul{
    display: block;
}

/*Noticias principais*/

.ctn-noticiasPrincipais{
    border: 1px solid red;
    width: 100%;
    height: 500px;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.ntc-esquerda{
    border: 1px solid green;
    width: 49%;
    height: 500px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    float: left;
}

.ntc-esquerda section{
    border: 1px solid black;
    width: 100%;
    height: 240px;
}
.ntc-esquerda01{
    padding: 0px;
    margin: 0px 0px 10px 0px;
}
.ntc-esquerda02{
    padding: 0px;
    margin: 10px 0px 0px 0px;
}

.ntc-direita{
    border: 1px solid violet;
    width: 49.5%;
    height: 500px;
    float: right;
}

/*outras noticias*/
.ctn-outro{
    border: 1px solid blue;
    width: 100%;
    height: 625px;
    margin: 0px;
    padding: 0px;
}

.outrantc-esquerda{
    border: 1px solid yellow;
    float: left;
    width: 49%;
    height: 625px;
    margin: 0px;
    padding: 0px;
}

.outrantc-direita{
    border: 1px solid orange;
    float: right;
    width: 49.5%;
    height: 625px;
    margin: 0px;
    padding: 0px;
}

.ctn-outro section{
    border: 1px solid black;
    width: 100%;
    height: 190px;
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

.ctn-outro h4{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    text-indent: 20px;
    line-height: 20px;
}

footer{
    width: 100%;
    height: 60px;
    background-color: gray;
    margin: 20px 0px 0px 0px;
}

/*contatos*/
#contato{
    height: 100%;
    background: linear-gradient(to bottom, rgb(157, 91, 118), rgb(156, 109, 163));
}
#conteiner-ctt img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

#conteiner-ctt{
    width: 50%;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}


#conteiner-ctt input{
    height: 40px;
    width: 90%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 0px;
    background-repeat: no-repeat;
    background-position: 10px;
}

#conteiner-ctt textarea{
    width: 90%;
    height: 100px;
    font-size: 18px;
    margin-bottom: 10px;
}

#enviar input{
    color: #fff;
    background-color: #f79300;
    border: 2px solid #db7d00;
    padding: 5px 20px;
    height: 40px;
    width: 45%;
    background:linear-gradient(to bottom,#faa600, #f68a00);
}